.wh_content_all,.wh_container{
    width: 90%;
    background: #ffffff !important;
    border-radius: 10px !important;
  }
  .wh_content:nth-of-type(3){
    padding-top: .2rem !important;
    border-top: 0.5px solid #d4d3d3;
  }
  .wh_content_all li{
    color: #000000 !important
  }
  .wh_jiantou1,
  .wh_jiantou2{
    width: .2rem !important;
    height: .29rem !important;
    background-size: 100% 100%;
    transform:rotate(0) !important;
  }
  .wh_jiantou1{
    background-image: url(../images/left@2x.png) !important;
  }
  .wh_jiantou2{
    background-image: url(../images/right@2x.png) !important;
  }
  .wh_content_item{
    color: #888888 !important;
  }
  .wh_isToday{
    background: #ffffff !important
  }
  .wh_chose_day{
    background: #ffffff !important;
    color: #ffffff !important;
  }
  .wh_content_item > .wh_isMark{
    background: #FB9914 !important;
    color: #ffffff !important;
  }
  .wh_item_date{
    color: #000000 !important;
  }
  .wh_want_dayhide{
    color: #888888 !important
  }
  .wh_isToday{
    color: #000000 !important;
  }
  .wh_item_date{
    width: 30px !important;
    height: 30px !important;
  }